main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-columns {
  display: flex;
}

.dashboard {
  margin-left: 30px;
  padding: 15px;
  border: 1px solid grey;
  box-sizing: border-box;
  width: 250px;
}

.turn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.turn__piece-icon {
  font-size: 50px;
}
